@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Menu */
nav{
    text-align: right;
    margin-right: 70px;
    font-family: 'Roboto', sans-serif;
}
/* Header */
header{
    background-color: #C2C7F1;
    height: 100px;
    padding: 0px;
    text-align: center;
    height: 260px;  
    margin-bottom: -160px; 
}
/* Logo Game Mania */
.Logo{
    text-align: left;
    margin-left: 70px;
    margin-top: -20px;
}
/* Menu */
.Bem-vindo{
    margin-top: -100px;
    font-family: 'Roboto', sans-serif;
}
/* Menu */
.Login{
    text-align: right;
    margin-right: 140px;
    margin-top: -30px;
    font-family: 'Roboto', sans-serif;
}
/* Menu */
.Carrinho{
    text-align: right;
    margin-right: 70px;
    margin-top: -45px;
}
/* Campo de pesquisa */
.divBusca{
    background-color:#f8fafa;
    border:solid 1px;
    border-radius:15px;
    width:300px; 
  }
/* Texto campo de pesquisa */
  .txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    font-family: 'Roboto', sans-serif;
  }
/* Banner */
.Banner{
    top: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #c2c7f1;
}
/* Banner */
.Destaque{
    top: -450px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
/* Destaque */
section{
    background-color: #C2C7F1;
    text-align: center;
    padding-top: 20px;
    margin-top: -450px;
}
/* Novidades */
.novidades{
    background-position: center;
    text-align: center;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
/* Rodapé */
footer{
    background-color: #C2C7F1;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 540px;
    padding-top: 30px;
    width: 100%;
    margin-left: 70px;
    margin: 0px;
}
/* Responsividade */
@media only screen and (max-device-width: 1920px) {
}

@media only screen and (min-width: 320px) and (max-width: 1920px){
}
    body {
        background-color: #C2C7F1;
}

